fig_C1
fig_C3
fig_dimin_C3
fig_dimin_C5
fig_dimin_C10
fig_no_error
reconstructed_signal_C1
reconstructed_signal_C3
reconstructed_signal_dimin_C3
reconstructed_signal_dimin_C5
reconstructed_signal_dimin_C10
reconstructed_signal_no_error
train-images-idx3-ubyte.gz




